.field-item {
  display: flex;
  padding: 0.04rem 0.1rem 0.04rem 0.15rem;
  flex-wrap: wrap;
  .field-label {
    width: 0.8rem;
    color: var(--datav-font-color);

    .field-title{
      font-size: 0.12rem;
      height: 0.28rem;
      line-height: 0.28rem;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .has-description {
      cursor: help;
      text-decoration: underline dotted;
    }
  }
  .field-container {
    width: calc(100% - 0.8rem);
    display: flex;
  }
}
