.header-search {
  font-size: 0 !important;
  padding-left: 0.1rem;
  .search-icon {
    cursor: pointer;
    font-size: 0.18rem;
    vertical-align: middle;
  }
  .header-search-select {
    font-size: 0.18rem;
    transition: width 0.2s;
    width: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;

    :deep(.el-input__inner) {
      border-radius: 0;
      border: 0;
      box-shadow: none !important;
      border-bottom: 1px solid #d9d9d9;
      vertical-align: middle;
      cursor: initial;
    }
  }
  &.show {
    .header-search-select {
      width: 2.1rem;
      margin-left: 0.1rem;
    }
  }
}
