// 表单项不指定行的大小
.n-form-item.n-form-item--top-labelled {
  grid-template-rows: none;
}

// screen 中的 color-picker
.n-color-picker {
  &.screen-color-picker {
    width: 0.28rem;
    height: 0.28rem;
    .n-color-picker-trigger__value {
      display: none;
    }
    .n-color-picker-trigger {
      border: none;
      .n-color-picker-trigger__fill {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: var(--n-border-radius);
        overflow: hidden;
      }
    }
  }
}

// screen 中的 input-number
.n-input-number {
  &.screen-input-number {
    .n-input-wrapper {
      padding-left: 8px;
      padding-right: 0;
    }
    .n-input__suffix {
      .n-button {
        position: absolute;
        top: calc(var(--n-font-size) + 2px);
        right: 1px;
        padding: 0 3px;
        border-left: var(--datav-outline);
        border-top: 1px solid #0000;
        border-bottom: none;

        &:nth-last-of-type(1) {
          top: 1px;
          border-top: none;
          border-bottom: var(--datav-outline);
        }

        &:hover {
          border-color: var(--datav-main-color);
        }
      }
    }
    .n-input-number-suffix {
      margin-right: 24px;
    }
  }
}

// screen 中的 tooltip
.n-popover-shared {
  &.screen-tip {
    font-size: 0.12rem;
    background: var(--primary-color);
    .n-popover-arrow-wrapper {
      .n-popover-arrow {
        background: var(--primary-color);
      }
    }
  }
}
