:root {
  --primary-color: #155bcd;
  --primary-color-hover: #3379eb;
  --primary-color-pressed: #094fc1;
  --primary-color-suppl: #3379eb;

  --datav-bg-color: #0a0b0d;
  --datav-bg-color-light-1: #0b0c0d;
  --datav-bg-color-light-2: #0e1013;
  --datav-bg-color-light-3: #17191c;
  --datav-bg-color-light-4: #212327;
  --datav-bg-color-light-5: #262c33;
  --datav-bg-color-light-6: #303640;
  --datav-border: 1px solid var(--datav-bg-color);
  --datav-font-color: #bcc9d4;
}
