.amap-button {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  right: 0.2rem;
  z-index: 9;
}
.amap-container {
  height: 100%;
}
.setting-drawer {
  position: absolute;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding: 0.24rem;
  background: rgba(0, 0, 0, 0.7);
}
.radio-label {
  color: #fff;
}
