.screen-create-wrapper {
  --datav-font-color: #bcc9d4;
  --datav-font-color-disabled: #424447;
  --datav-main-color: #2681ff;
  --datav-error-color: #f43;
  --datav-red-color: #f15532;
  --datav-warn-color: #f27a24;
  --datav-gray-color: #90a0ae;
  --datav-dark-color: #262c33;
  --datav-success-color: #50e3c2;
  --datav-main-hover-color: #409fff;
  --datav-main-click-color: #2681ff;
  --datav-pop-bg-color: #1b3964;
  --datav-slider-color: #74f0ff;
  --datav-ft-border: 1px solid #3a4659;
  --datav-loading-color: #1996df;
  --datav-nav-bg: #13161a;
  --datav-nav-bg-active: #1d2126;
  --datav-nav-bg-hover: #21262b;
  --datav-left-nav-bg: #191c21;
  --datav-left-nav-hover-bg: transparent;
  --datav-left-nav-active-bg: #14161a;
  --datav-body-bg: #171b22;
  --datav-bgcolor-1: #0b0c0d;
  --datav-bgcolor-2: #1d262e;
  --datav-component-bg: #303640;
  --datav-component-bg-1: #171b22;
  --datav-border-color: #3a4659;
  --datav-border: 1px solid var(--datav-border-color);
  --datav-border-primary: 1px solid var(--datav-main-color);
  --datav-border-dark: 1px solid #000;
  --datav-border-disabled: 1px solid #323437;
  --datav-outline: 1px solid #0b0c0d;
  --datav-shadow-color: #000;
  --datav-shadow: 0 0 10px -6px #000;
  --datav-menu-bg: #27343e;
  --datav-menu-bg-hover: var(--datav-bgcolor-2);
  --datav-menu-color-hover: #00baff;
  --datav-menu-color-disabled: #576369;
  --datav-layer-wp-bg: #1d2126;
  --datav-layer-bg: #2e343c;
  --datav-layer-bg-dark: #0a0b0d;
  --datav-layer-item-bg: #1b1f25;
  --datav-layer-item-color-locked: #576369;
  --datav-layer-item-thumbail-bg: #282a30;
  --datav-layer-toolbar-bg: #20242a;
  --datav-layer-toolbar-bg-hover: #3a4650;
  --datav-layer-toolbar-border: 1px solid #282f3a;
  --datav-layer-toolbar-icon-color: #282f3a;
  --datav-layer-input-bg: #363c48;
  --datav-config-bg: #1c1f25;
  --datav-config-border: 1px solid #282f3a;
  --datav-data-form-bgcolor: #0e1013;
  --color-primary: #04a9f5;
  --header-color: #ccc;
  --header-color-f: #fafafa;
  --header-color-hover: #fff;
  --header-bg: #1e2427;
  --header-bg-hover: #272d30;
  --sider-border: 1px solid #181818;
  --sider-color: #fafafa;
  --sider-color-1: #bfbfbf;
  --sider-color-f: #fff;
  --sider-bg: var(--header-bg);
  --sider-header-bg: var(--header-bg-hover);
  --sider-collapse-header-bg: var(--header-bg);
  --sider-header-border: 1px solid var(--header-bg);
  --layer-bg: var(--header-bg);
  --layer-bg-hover: var(--header-bg-hover);
  --layer-header-bg: var(--header-bg-hover);
  --footer-color: #fafafa;
  --footer-bg: var(--header-bg);
  --form-bg: #181818;
  --form-label: #fafafa;
  --form-item-color: rgba(255, 255, 255, 0.85);
  --form-item-bg: #202124;
  --form-item-border: 1px solid #5a5a5a;
  --form-select-hover: #3c4043;
  --color-primary-a: rgba(64, 158, 255, 0.4);
  --modal-bg: #282c34;
  --contextmenu-bg: #282c34;
  --contextmenu-bg-hover: #393e49;
  --contextmenu-divider-color: #22242b;
  height: 100%;
}
.screen-create-header {
  height: 0.48rem;
  line-height: 0.48rem;
  padding: 0 0.2rem;
  background-color: var(--header-bg);
  transition: all linear 500ms;
}
.screen-create-main {
  height: calc(100vh - 0.48rem);
}
.screen-create-content {
  height: calc(100% - 0.36rem);
}
// footer
.screen-create-footer {
  height: 0.36rem;
  line-height: 0.36rem;
  padding: 0 0.4rem;
  background-color: var(--footer-bg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .n-space {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    > div {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .tool-item {
      display: flex;
      align-items: center;
      .scale-input-wrap{        
        position: relative;
        display: block;
        width: 58px;
        height: 20px;
        line-height: 18px;
        margin-right: 20px;
        overflow: hidden;
        cursor: pointer;
        background: var(--datav-dark-color);
        border: var(--datav-outline);
        .scale-input{ 
          width: 27px;
          padding-left: 5px;
          padding-right: 0;
          font-size: 12px;
          color: var(--datav-font-color);
          text-align: right;
          background: transparent;
          caret-color: var(--datav-font-color);
          border: none;
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            margin: 0;
            appearance: none;
          }
        }
        .percent {
          padding-left: 1px;
          color: var(--datav-font-color);
        }
        .open-icon{
          position: absolute;
          font-weight: bold;
          color: var(--datav-font-color);
          transform: scale(0.6);
          margin-top: 2px;
          padding: 0 2px;
          right: -4px;
        }
      }
      .scale-slider {
        width: 2rem;
      }
    }
  }
}

.scale-value-list {  
  --datav-main-hover-color: #409fff;
  --datav-outline: 1px solid #0b0c0d;  
  --datav-bgcolor-1: #0b0c0d;
  --datav-font-color: #bcc9d4;
  font-size: 12px;
  background: #262b33;
  border: var(--datav-outline);
  user-select: none;
  .scale-value-item {
    padding: 5px 0;
    color: var(--datav-font-color);
    text-align: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: var(--datav-main-hover-color);
      background: var(--datav-bgcolor-1);
    }

    &:not(:first-child) {
      border-top: var(--datav-outline);
    }
  }
}