.screen-create-wrapper {
  height: 100%;
}
.screen-create-header {
  position: relative;
  z-index: 2;
  height: 0.48rem;
  line-height: 0.48rem;
  padding: 0 0.2rem;
  background-color: var(--datav-bg-color-light-3);
  transition: all linear 500ms;
}
.screen-create-main {
  height: calc(100vh - 0.48rem);
}
.screen-create-left-panel {
  z-index: 2;
}
.screen-create-left-panel,
.screen-create-right-panel {
  height: 100%;
  transition: 0.25s ease-in-out;
  user-select: none;
  .config-tabs {
    height: 100%;
    &.tabs-num-2 {
      .n-tabs-tab-wrapper {
        flex-basis: calc(100% / 2);
      }
    }
    &.tabs-num-3 {
      .n-tabs-tab-wrapper {
        flex-basis: calc(100% / 3);
      }
    }
    .n-tabs-nav.n-tabs-nav--card-type {
      .n-tabs-wrapper {
        width: 100%;
        .n-tabs-tab-pad {
          width: 0;
        }
      }
      .n-tabs-tab {
        position: relative;
        font-size: 0.12rem;
        width: 100%;
        justify-content: center;
        height: 0.3rem;
        line-height: 0.3rem;
        border: 0;
        border-radius: 0;
        color: var(--datav-font-color);
        background: var(--datav-bg-color-light-3);
        &.n-tabs-tab--active {
          background: var(--datav-bg-color-light-4);
          &::after{
            content: '';
            position: absolute;
            width: 100%;
            top: 0;
            height: 0.02rem;
            background-color: var(--primary-color);
          }
        }
      }
    }
    .n-tab-pane {
      height: calc(100% - 0.3rem);
      background: var(--datav-bg-color-light-4);
    }
  }
}
.screen-create-content {
  height: calc(100% - 0.36rem);
}
.screen-create-footer {
  position: relative;
  z-index: 2;
  height: 0.36rem;
  line-height: 0.36rem;
  padding: 0 0.4rem;
  background: var(--datav-bg-color-light-3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// 配置面板
.screen-setting-config-wrap {
  .screen-input-number-wrap {
    display: inline;
    &:not(:last-child) {
      margin-right: 0.04rem;
    }
    .item-describe {
      width: 100%;
      font-size: 0.12rem;
      height: 0.16rem;
      line-height: 0.16rem;
      color: var(--datav-font-color);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .screen-color-input {
    margin-right: 0.04rem;
  }
  .screen-upload {
    height: 1.5rem;
    width: 100%;
    flex: 0 0 100%;
    display: block;
    margin-top: 0.05rem;
    .n-upload-trigger,
    .n-upload-dragger {
      height: 100%;
      width: 100%;
    }
    .n-upload-dragger {
      padding: 0.15rem 0;
    }
  }
  .flip-wrap{
    width: calc(100% - 0.02rem);
    display: flex;
    align-items: center;
    .flip-item{
      display: inline-block;
      padding: 0.1rem;
      margin-left: 0.04rem;
    }
  }
}
