.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.64rem;
  line-height: 0.64rem;
  overflow: hidden;
  white-space: nowrap;

  img {
    width: auto;
    height: 0.32rem;
  }

  .title {
    margin-bottom: 0;
  }
}
