.login-container {
  background-image: url('@/assets/svg/login/bg.svg');
  background-color: #eee;
  background-size: cover;
  background-position: center;
  .login-box {
    width: 94%;
    height: 94%;
    background-color: hsla(0, 0%, 100%, 0.85);
    border-radius: 0.15rem;
    padding: 2vw;
    .login-left {
      .login-illustration {
        width: 90%;
        max-width: 40vw;
        height: auto;
      }
    }
    .login-right {
      height: 100%;
      .login-form {
        width: 80%;
        .login-title {
          margin-bottom: 0.24rem;
          font-size: 0.42rem;
          .logo-text {
            font-weight: bold;
            padding-left: 0.2rem;
            white-space: nowrap;
            color: #181818;
          }
        }
      }
    }
  }
  &.dark-bg {
    background-color: #222;
    .login-box {
      background-color: hsla(0, 0%, 0%, 0.85);
      .logo-text {
        color: #ffffff !important;
      }
    }
  }
}
